.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  padding: 1rem;
  backdrop-filter: blur(4px);
}

.modal {
  background: #0c0c0c;
  max-height: 90vh;
  overflow: auto;
  width: 100%;
  max-width: 800px;
}

.header {
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-weight: 600;
}

.closeButton {
  margin-left: auto;
  font-size: 2rem;
}

.body {
  padding: 1.5rem;
}
