.button {
  padding: 10px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 0.3rem;
  cursor: pointer;
}

.button:hover {
  opacity: 0.8;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
